COMMUTE_TEAM_ID=${DEVELOPMENT_TEAM}
COMMUTE_BUNDLE_ID=cloud.tavitian.commute
COMMUTE_BUILD_VERSION=1
COMMUTE_SHORT_VERSION_STRING=2.8
COMMUTE_LAUNCH_STORYBOARD=LaunchScreen
COMMUTE_PRIVACY_LOCATION_DESCRIPTION=Commute uses your location to sort train stations by distance, relative to your current location.
COMMUTE_COPYRIGHT=Copyright © 2021 Paul Tavitian
